/* Variables */

:root {
  --primary-color: #ffffff;
  --secondary-color: red;

  --bg: white;
  --bg-footer: blue;

  --blue: blue
  --red: red;
  --yellow: yellow;

  --text-color: #010101;
  --text-color-light: #9f9f9f;
  --text-color-lighter: #b3b3b3;
  
  --text-color-blue: blue;

  --border-radius: 10px;
  --border-color: #f0f0f0;
  --border-color-auth: #dcdcdc;

  --font-primary: "Nunito Sans", sans-serif;

  --h1-size: 40px;
  --h2-size: 24px;
}